torch
transformers
datasets
soundfile
librosa
wandb
python-dotenv
psutil
tqdm
sentencepiece
jiwer
accelerate
bitsandbytes
peft
trl<0.9.0
unsloth_zoo
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git